In [ ]:
## BASIC
-one
SELECT roll_number,name
FROM student_information a
INNER JOIN faculty_information b
ON a.advisor = b.employee_ID
WHERE (b.gender = 'M' and b.salary>15000) or (b.gender = 'F' and b.salary>20000);

-two
SELECT a.stock_code
FROM price_today a
INNER JOIN price_tomorrow b
ON a.stock_code = b.stock_code
WHERE b.price>a.price
ORDER BY stock_code asc;

In [ ]:
## INTERMEDIATE
-one
SELECT t1.city_name
     , t5.product_name
     , ROUND(SUM(t4.line_total_price), 2)

FROM city t1
         JOIN customer t2 ON t1.id = t2.city_id
         JOIN invoice t3 ON t2.id = t3.customer_id
         JOIN invoice_item t4 ON t3.id = t4.invoice_id
         JOIN product t5 ON t4.product_id = t5.id
GROUP BY t1.city_name, t5.product_name
ORDER BY SUM(t4.line_total_price), t1.city_name, t5.product_name ASC

-two
SELECT p.sku          as SKU,
       p.product_name as ProductName

FROM PRODUCT as p
WHERE 1 = 1
  AND p.id NOT IN
      (SELECT i.product_id
       FROM INVOICE_ITEM i)
ORDER BY p.sku ASC

In [ ]:
## ADVANCE
-one
SELECT MONTH(record_date),
MAX(data_value) AS max,
MIN(data_value) AS min,
round(AVG(CASE WHEN data_type = 'avg' then data_value END)) AS avg

FROM temperature_records
WHERE MONTH(record_date) BETWEEN 7 AND 12
GROUP BY MONTH(record_date)
ORDER BY MONTH(record_date);

-two
SELECT
  emp_id,
  SUM(
    TIMESTAMPDIFF(HOUR,
      CASE WHEN DATE_ADD(log_out_time, INTERVAL -1 HOUR) > log_in_time
        THEN log_in_time
        ELSE DATE_ADD(log_out_time, INTERVAL -1 HOUR)
      END,
      log_out_time
    )
  ) AS weekend_hours
FROM (
  SELECT
    emp_id,
    MIN(timestamp) as log_in_time,
    MAX(timestamp) as log_out_time
  FROM attendance
  WHERE WEEKDAY(timestamp) IN (5, 6) -- 5 & 6 are for Saturday and Sunday.
  GROUP BY DATE(timestamp), emp_id
) as T
GROUP BY emp_id
ORDER BY weekend_hours DESC;